[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynmix"]
	path = dynmix
	url = https://github.com/kdrachal/dynmix
[submodule "fDMA"]
	path = fDMA
	url = https://github.com/kdrachal/fdma
[submodule "multDM"]
	path = multDM
	url = https://github.com/cran/multDM
[submodule "pEPA"]
	path = pEPA
	url = https://github.com/kdrachal/pepa
